{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<br>

<div class="lista-canciones">
    <div class="encabezado-lista">
        <h2>Lista de canciones</h2>
    </div>
    
    <div class="cuerpo-lista">
        {% for cancion in canciones %}
            <div class="item-cancion">
                <div class="info-cancion">
                    <i class="fa {{ cancion.icono|default:'fa-music' }} icono-estado"></i>
                    <!-- Enlace directo utilizando el ID de la canción -->
                    <a href="{% url 'detalle_cancion' cancion.id %}" class="link-cancion">
                        <span class="titulo-cancion">{{ cancion.titulo }}</span>
                    </a>
                </div>
                <a href="{% url 'detalle_cancion' cancion.id %}" class="icono-accion" title="Ver detalle">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        {% empty %}
            <div class="item-cancion">
                <span class="titulo-cancion">No hay canciones disponibles.</span>
            </div>
        {% endfor %}
    </div>
</div>
</script>
{% endblock %}